.channel-discription {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.header-image {
    background-image: url('http://cloud.millenniumpost.in/19286kbFcN3Qc46wILN1WUiMEq3aVsWNTOIx20151955/pragati-maidan-to-have-world-class-complex-by-june-2019jpg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    min-height: 15em;
    margin-top: 4em;
    margin-bottom: 1em;
}